In [8]:
import requests
import pandas as pd
import json
import time

In [9]:
api_key = "YkbthBL7RWYK7M5OL-oLBstZGuZ2ByzGi0BxvA_VIGkC3Ui7JbS44CsCD_Olm1p6PFwUzuo6RfDFPdZ3phgA-xWqPDx4sCHZTeHgAlLxZLX60vgjMMlqS5IBJDCiZHYx'remove_me'"
endpoint = "businesses/search"
url = f"https://api.yelp.com/v3/{endpoint}"
headers = {
    "Authorization": f"Bearer {api_key}"
}
params = {
    "term": "restaurants",
    "location": "Louisville, KY",
    "limit": 50  # Set the desired limit per request (maximum is 50)
}

restaurant_data = []  # List to store the extracted data

offset = 0  # Initial offset value
results_per_request = params["limit"]  # Results per request (50)
total_results = float("inf")  # Initialize total_results to an arbitrary high value

while offset < total_results:
    params["offset"] = offset  # Set the offset parameter
    
    response = requests.get(url, headers=headers, params=params)
    
    if response.status_code != 200:
        print(f"Error: {response.status_code} - {response.text}")
        break
    
    data = response.json()

    if offset == 0:
        total_results = data["total"]
    
    businesses = data["businesses"]
    
    for business in businesses:
        name = business.get("name")
        rating = business.get("rating")
        review_count = business.get("review_count")
        price = business.get("price")
        address = ", ".join(business.get("location", {}).get("display_address", []))
        restaurant_data.append({
            "Name": name,
            "Rating": rating,
            "Review Count": review_count,
            "Price": price,
            "Address": address
        })
    offset += results_per_request  
    time.sleep(2)  

# Create a DataFrame from the extracted data
df = pd.DataFrame(restaurant_data)

# Print the DataFrame
df.head()

Error: 400 - {"error": {"code": "VALIDATION_ERROR", "description": "Too many results requested, limit+offset must be <= 1000."}}
                                  Name  Rating  Review Count Price  \
0                          Hammerheads     4.5          1323    $$
1                            The Eagle     4.5          1507    $$
2                           Doc Crow's     4.0          2017    $$
3                     North of Bourbon     4.5           132    $$
4    Oliver's Chop House & Bourbon Bar     4.5             3  None
..                                 ...     ...           ...   ...
995          Slab Daddy's BBQ Catering     5.0             2  None
996               Little Caesars Pizza     1.5             6     $
997                         McDonald's     1.5            10     $
998            Famous Dave's Bar-B-Que     3.5           112    $$
999              Einstein Bros. Bagels     1.5             5     $

                                               Address
0                    921 Swan St, Louisville, KY 40204
1              1314 Bardstown Rd, Louisville, KY 40204
2                  127 W Main St, Louisville, KY 40202
3                   935 Goss Ave, Louisville, KY 40217
4    4520 Poplar Level Rd, Derby City Gaming Hotel,...
..                                                 ...
995           7403 Fegenbush Ln, Spring Mill, KY 40228
996                3181 S 2nd St, Louisville, KY 40208
997                   520 N 22nd, Louisville, KY 40203
998             8605 Citadel Way, Louisville, KY 40220
999              2100 S Floyd St, Louisville, KY 40208

[1000 rows x 5 columns]

In [10]:
df.to_csv('yelp.csv')